<% extend('main') %>

<div class="container">
    <form action="/signin" method="post">
        <label>ユーザ名</label>
        <input required type="text" name="username"/>
        <br>
        <label>パスワード</label>
        <input required type="password" name="password"/>
        <br>
        <input class="btn btn-primary" type="submit" value="Sign in"/>
    </form>
</div>