<% extend('../main') %>

<h1>入力フォーム</h1>
<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    <% }) %>
<% } %>
<form action="/users/store" method="POST">
    name <input type="text" name="name"><br>
    email <input type="text" name="email"><br>
    <button type="submit">送信</button>
</form>